@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import '/css/commons.css';
@import '/css/nav.css';
@import '/css/footer.css';

.menu {
  width: 100%;
  padding-inline: 60px;
  background-color: black;
  margin-bottom: 30px;
}

main {
    margin-bottom: 20px;
    min-height: 75vh;
}
        
#admin-panel {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 60%;
    margin: auto;
}

.admin-card {
    background: white;
    border-radius: 8px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border: 1px solid #e1e1e1;
    width: calc(25% - 30px);
    height: 170px;
}

.admin-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.admin-card h3 {
    margin: 0;
    color: #1a1a2e;
    font-size: 1.2rem;
}

.admin-card i {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #e94560;
}

@media (max-width: 1450px) {
    .admin-panel {
        width: 90%;
    }

    .admin-card {
        height: 190px;
    }
}

@media (max-width: 1100px) {
    .admin-card {
        width: calc(33% - 30px);
    }
}

@media (max-width: 840px) {
    .admin-card {
        width: calc(50% - 30px);
    }
}

@media (max-width: 560px) {
    .admin-card {
        width: 100%;
    }
    .menu {
        padding-inline: 5px;
    }

    .logo {
        height: 40px;
        width: auto;
    }

    .login-btn {
        height: 30px;
        width: auto;
        font-size: 15px;
    }
}